body{
	margin: 0;
	font-size: 30px;
	background-color: deepskyblue;

}

header{
	background-color: skyblue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Dela Gothic One', cursive;
	font-size: 50px;
	line-height: 30px;
}

header h1{

	color: whitesmoke;
}

header img{
	border-radius: 190px;
	width: 300px;
	border: 10px solid darkturquoise;
} 

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 800px;
}

h2{
	font-size: 30px;
	color: whitesmoke;
	margin: 40px 0px 10px;
}
p{
	font-size: 30px;
}
a{
	color: whitesmoke;
}
a:hover{
	color: white;
	background-color: blue;
}
footer{
	background-color: skyblue;
	text-align: center;
	color: white;
	padding: 50px;
}
footer p{
	margin: 0;
}
footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: whitesmoke;
	font-style: italic;
	margin-top: 0px;
}